@{
    List<ProvincialEnterprise.Models.ProductDetails> productList = ViewBag.ProductList;
}

<section id="portfolio">
    <div class="container">
        <div class="center">
            <h2>Camera</h2>
        </div>

       

        <div class="row">
            <div class="portfolio-items">
                <div class="portfolio-item apps col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/Images/Camera/cam1.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">AVTech Camera</a></h3>
                                <p><b>Model:</b> AVT553J</p>
                               @* <a class="preview" href="images/portfolio/full/item1.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>*@
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
               <div class="portfolio-item apps col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/Images/Camera/cam2.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Dahua Camera</a></h3>
                                <p><b>Model:</b> SD69xx</p>
                              
                            </div>
                        </div>
                    </div>
               </div><!--/.portfolio-item-->
                <div class="portfolio-item apps col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/Images/Camera/cam3.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">AVtech Camera</a></h3>
                                <p><b>Model:</b>AVT500</p>
                              
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
                <div class="portfolio-item apps col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/Images/Camera/cam4.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">AV Recorder</a></h3>
                                <p><b>Model: </b> AVZ207A</p>
                               
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
            </div>
        </div>
    </div>
</section>


@*<section id="recent-works">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Camera</h2>
            <p class="lead"></p>
        </div>
        <div class="row">

            @foreach (var product in productList)
            {
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="@Url.Content(@product.ImagePath)" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <p>@product.CategoryName</p>
                                <p>Price: @product.ProductName</p>
                                <p>Size: @product.Price</p>
                                <p>Description: @product.Description</p>

                            </div>
                        </div>
                    </div>
                </div>
            }

        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#recent-works-->*@
